:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color:#2196F3;
}




body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    *outline: 2px solid tomato;

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
   
}

.link {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}



/* Header */
 /* <!-- Logo -- > */

 .header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;

 }

 .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 40px; */

 }

 .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-grow: 1; */
 }

 
.logo {
    color: #000000;
    margin-right: 93px;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.192;
    text-decoration: none;
    letter-spacing: 0.03em;
    
}

.logo-web {
    color: var(--accent-color);
}

.logo-studio-header {
    color: #000000;
 }

 ul {
      padding-left: 0;
      margin: 0;
      list-style-type: none;
    }
 
 .header-menu {
    display: flex;
 }

 .nav-menu {
    margin-right: 50px;
 }

 .nav-menu:last-child {
    margin-right: 0;
 }

 .header-menu .link {
    color: var(--accent-color);
    text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
        
 }
 .header-menu .link:hover,
 .header-menu .link:focus {
    color: #000000;
 }

 .header-menu .item {
    color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
    text-decoration: none;
}

 .header-menu .item:hover,
 .header-menu .item:focus {
   color: var(--accent-color);
 }

.header-contact {
    display: flex;
    margin-left: 318px;
    align-items: center;
    
}
.contact-menu {
    display: flex;
    margin-right: 30px;
}
.contact-menu:last-child {
    margin-right: 0;
}


.header-contact .contact {
    color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-contact .contact:hover,
.header-contact .contact:focus {
    color: var(--accent-color)
}

 
 
.header-contact .contact-icon {
    color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
        text-decoration: none; 
        display: flex; 
        align-items: center;
}

 .header-contact .contact-icon:hover,
.header-contact .contact-icon:focus {
     color: var(--accent-color);
} 

.icon-envelope {
    fill: currentColor;
    margin-right: 10px;
}

.header-contact .contact .icon-envelope:hover,
.header-contact .contact .icon-envelope:focus {
    fill: var(--accent-color);
}

.icon-smartphone {
    fill: currentColor;
    margin-right: 10px;
}


/* main */
/* hero section */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;
    text-align: center;
    margin: 0 auto; 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgroundhero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
}


.hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 696px;
    color: #FFFFFF;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.364;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

.button-primary { 
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: block;
    color: #FFFFFF;
    background: var(--accent-color);
     /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
        border-radius: 4px;
        border: none;
        font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 1.875;
            cursor: pointer;
            letter-spacing: 0.06em;
            
}

.button-primary:hover,
.button-primary:focus {
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* section about us */

.section-activity {
    padding-top: 94px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.section-title {
    margin-bottom: 10px;
    color: var(--primary-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.section-text {
    Width: 270px;
    color: var(--title-text-color);
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em; 
}

.card-set {
    display: flex;
    padding: 0;
    list-style: none;
}

.item {
    width: calc((100%-90px)/4);
    margin-right: 30px;
}

.item:last-child {
    margin-right: 0px;
}


/* what we do */



.title-section {
    margin-bottom: 50px;
    color: var(--primary-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.167;
        text-align: center;
        letter-spacing: 0.03em;
    }

.flex-container {
 display: flex;
}

.flex-images {
    width: calc((100%-60px)/3);
        margin-right: 30px;
}

.flex-images:last-child {
    margin-right: 0px;
}

.item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
 
/* .item-icon:hover,
.item-icon:focus {
    border: solid, var(--accent-color);
}  */

/* .item-icon .icon-advantages:hover,
.item-icon .icon-advantages:focus {
    fill: var(--accent-color);
}  */

    /* our team */

    .title-section-team {
        margin-bottom: 50px;
            color: var(--primary-text-color);
            background-color: #F5F4FA;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.167;
            text-align: center;
            letter-spacing: 0.03em;

    }


    .section-team {
    background: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
    }

    .text-section {
        /* margin-top: 30px; */
        margin-bottom: 10px;
        color: var(--primary-text-color);
            font-weight: 500;
            line-height: 1.188;
            text-align: center;
            letter-spacing: 0.03em;
        }

    .name {
      /* margin-bottom: 30px; */
        color: var(--title-text-color);
            line-height: 1.188;
            text-align: center;
            letter-spacing: 0.03em;
           
    }

    .list {
    display: flex;
    background-color: #F5F4FA;
    }

    .list-team {
       width: calc((100%-90px)/4);
        margin-right: 30px;
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);;
    }
    
    .list-team:last-child {
     margin-right: 0px;
    }

    .team-box {
        padding: 30px;
        
    }

    .social-list {
        display: flex;
        margin-top: 16px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: 206px;
        height: 44px;
        
    }

    .social-item {
        display: inline-flex;
         flex-basis: calc((100%-60px)/4); 
    }

  .social-link {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      text-decoration: none;
      Width: 44px;
      Height: 44px;
      color: #AFB1B8 ;
  }
  
    .social-icon {
       display: inline-block;
       fill: currentColor;
    }

  .social-link:hover,
  .social-link:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    }


  



/* section clients */


.list-clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-clients {
    display: inline-block;
    width: 170px;
    height: 92px;
    margin-right: 30px;
}

.item-clients:last-child {
    margin-right: 0px;
}

.link-clients {
    display: flex;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
}

.icon-clients {
    display: inline-block;
    width: 106px;
    height: 60px;
    fill: currentColor;
}
 .link-clients:hover,
 .link-clients:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
 }
   

    /* footer */

 .logo-footer { 
    display: block;
    margin-bottom: 28px;
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    text-decoration: none;
    letter-spacing: 0.03em;
}

 .logo-studio-footer {
    color: #ffffff;
 }
 
 .address {
    display: block;
 }
 
 
 .footer {
    padding: 60px 0;
    background-color: #2F303A;
 }
 
 /* .container-footer {
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    
 } */

 .footer-contact {
    display: block;
    width: 207px;
    margin-top: 28px;
    margin-bottom: 12px;
    color: #FFFFFF;
    font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.footer-contact-email {
    display: block;
    width: 231px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.footer-contact-phone {
    display: block;
    width: 231px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.footer .footer-contact:hover,
.footer .footer-contact:focus {
    color: var(--accent-color)
}
.footer .footer-contact-email:hover,
.footer .footer-contact-email:focus {
    color: var(--accent-color);
}

.footer .footer-contact-phone:hover,
.footer .footer-contact-phone:focus {
    color: var(--accent-color); 
}



.footer-flex {
    display: flex;
    align-items: baseline;
    
}

.link-box {
    margin-left: 70px;
}


.footer-title {
    margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
}

.social-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer .social-icon {
    fill: #FFFFFF;
}
.footer .social-list {
    margin-top: 0;
}


/* portfolio */
 .button-portfolio .button {
    width: 125px;
    padding: 6px 22px;
    /* margin-bottom: 50px; */
    color: var(--primary-text-color);
    background: #F5F4FA;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: none;
        letter-spacing: 0.03em;
            border-radius: 4px;
            border: none;
            /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
            cursor: pointer;
 }

 
.button-primary-portfolio {
    display: flex;
    justify-content: center;
    width: 67px;
    padding: 6px 22px;
    color: var(--primary-text-color);
    /* color: #ffffff; */
    /* background: #2196F3; */
    background: #F5F4FA;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: none;
        letter-spacing: 0.03em;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */

}

.button-primary-portfolio:hover,
.button-primary-portfolio:focus {
    color: #ffffff;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

 .button-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
        gap: 8px;
        color: #ffffff;
        /* background: #F5F4FA; */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: none;
        letter-spacing: 0.03em;
        border: none;
        cursor: pointer;

 }

.button-portfolio .button:hover,
.button-portfolio .button:focus {
    color: #ffffff;
    background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.flex-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background: #F5F5F5; */
   
    
}

.flex-list {

    width: calc((100% - 60px)/3);
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
   
}

.flex-list:nth-last-child(-n+3) {
    margin-bottom: 0;
}
 
.list-portfolio {
    padding: 20px 24px;
}

.list-portfolio-title {
    color: var(--primary-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        
    }

 .list-portfolio-text {
    color: var(--title-text-color);
        line-height: 1.875;
      letter-spacing: 0.03em;
 }


 .flex-cart {
    
    display: inline-block;
    text-decoration: none;
 }
 .flex-cart:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 }

 .flex-cart-img-wrapper {
   position: relative;
   display: inline-block; 
   overflow: hidden;
 }

 .overlay {
    position: absolute;
    overflow: hidden;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9); 
    color: #FFFFFF;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        
    }

.flex-cart:hover .overlay,
.flex-cart:focus .overlay {
    transform: translate(0, 0);
}